<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiE93xarzmhNspQ5bvZB8NsyuHZlIutlg</string>
	<key>GCM_SENDER_ID</key>
	<string>59941307033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EWaMallApp</string>
	<key>PROJECT_ID</key>
	<string>ewamallchatapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>ewamallchatapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59941307033:ios:366f720a1dec20e322ae08</string>
</dict>
</plist>